<!DOCTYPE html>
<html lang="en" th:replace="~{admin/fragments/layout :: fragments(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>CHI TIẾT ĐƠN HÀNG</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">product</a></li>
                    </ol>
                </div>
            </div>
            <!-- --------------------------------------------------------- -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">	Lew Shawon</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>số lượng sản phẩm</th>
                                            <th>Giá</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="orderDetail,index : ${orderDetails}" th:count="*{index.index}">
                                            <td th:text="${index.count}"></td>
                                            <td>
                                                <div class="round-img">
                                                    <img width="35" th:src="@{/admin/uploads/{img}(img=${orderDetail.productDetail.product.ProductImage})}" alt="">
                                                </div>
                                            </td>
                                            <td th:text="${orderDetail.productDetail.product.ProductName}"></td>
                                            <td><span th:text="${#numbers.formatDecimal(orderDetail.productDetail.quality,0,'POINT',0,'POINT')}"></span></td>
                                            <td><span th:text="${#numbers.formatDecimal(orderDetail.productDetail.price,0,'POINT',3,'POINT')}"></span></td>
                                            <td><span th:text="${#numbers.formatDecimal(orderDetail.productDetail.quality*orderDetail.productDetail.price,0,'POINT',3,'POINT')}"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3 style="float: right;">TỔNG TIỀN: <span th:text="${#numbers.formatDecimal(totalPrice, 3, 'COMMA', 3, 'POINT')}"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
</body>

</html>