<!DOCTYPE html>
<html lang="en" th:replace="~{admin/fragments/layout :: fragments(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>ĐƠN HÀNG</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">product</a></li>
                    </ol>
                </div>
            </div>
            <!-- --------------------------------------------------------- -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">New Orders</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên Khách hàng</th>
                                            <th>Ngày đặt hàng</th>
                                            <th>Giá</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="order,index : ${orders}" th:count="*{index.index}">
                                            <td th:text="${index.count}"></td>
                                            <td th:text="${order.account.fullName}"></td>
                                            <td><span th:text="${order.orderDate}"></span></td>
                                            <td><span th:text="${order.orderAmount}"></span></td>
                                            <td><span class="badge badge-success" th:text="${order.orderStatus} ? Xong : Chưa"></span></td>
                                            <td>
                                                <a th:href="@{/admin/custumer/orderDetail/{id}(id=${order.orderId})}">Xem chi tiet</a>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
</body>

</html>