<!DOCTYPE html>
<html lang="en" th:replace="~{/admin/fragments/layout :: fragments(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <main>
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>THÊM SẢN PHẨM</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">product</a></li>
                    </ol>
                </div>
            </div>
            <!-- --------------------------------------------------------- -->
            <div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/admin/product/add}" th:object="${product}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="file" name="image" id="photo" class="form-control-file" accept="image/*">
							    <span class="text-danger" th:if="${photo_message}" th:text="${photo_message}"></span>
                                <!-- <label for="file" class="file-upload-label">
                                    <div class="file-upload-design">
                                        <svg viewBox="0 0 640 512" height="1em">
                                            <path
                                                d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z">
                                            </path>
                                        </svg>
                                        <p>Drag and Drop</p>
                                        <p>or</p>
                                        <span class="browse-button">Browse file</span>
                                    </div>
                                    <input name="image" id="file" type="file" accept="image/*"/>
                                    <small class="text-danger" th:if="${photo_message}" th:text="${photo_message}"></small>
                                </label>                                 -->
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="product_name" class="form-label">Tên sản phẩm</label>
                                        <input th:field="*{ProductName}" type="text" name="" id="product_name" class="input-rounded form-control"
                                            placeholder="" aria-describedby="helpId">
                                        <small class="text-danger" th:if="${#fields.hasErrors('ProductName')}"  th:errors="*{ProductName}"></small>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="categoriesDetail" class="form-label">Loại sản phẩm</label>
                                        <select th:field="*{categoriesDetail.CategoriesDetailId}" class="input-rounded form-control">
                                            <option value=""  selected="selected">-- Select an option --</option>
                                            <option th:each="category : ${categoriesDetail}" th:value="${category.CategoriesDetailId}" th:text="${category.CategoriesDetailName}"></option>    
                                        </select>
                                        <small class="text-danger"  th:if="${#fields.hasErrors('categoriesDetail.CategoriesDetailId')}"   th:errors="*{categoriesDetail}">Help text</small>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="" class="form-label">Thương hiệu</label>
                                        <select th:field="*{brand.BrandId}" class="input-rounded form-control">
                                            <option value="" selected="selected">-- Select an option --</option>
                                            <option th:each="brand : ${brandalls}" th:value="${brand.BrandId}" th:text="${brand.BrandName}"></option>
                                        </select>
                                        <small id="helpId" class="text-danger" th:if="${#fields.hasErrors('brand.BrandId')}" th:errors="*{brand}">Help text</small>
                                    </div>
                                    <div class=" col-lg-6 mb-3">
                                        <label for="price" class="form-label">Giá</label>
                                        <input th:field="*{ProductPrice}" type="number" name="" id="price" class="input-rounded form-control"
                                            placeholder="" aria-describedby="helpId">
                                        <small id="helpId" class="text-danger" th:if="${#fields.hasErrors('ProductPrice')}" th:errors="*{ProductPrice}">Help text</small>
                                    </div>
                                    <div class="col-lg-12 mb-3">
                                        <label for="description" class=" form-label">Miêu tả sản phẩm</label>
                                        <textarea th:field="*{ProductDescription}" class="form-control" name="" id="description" rows="3"></textarea>
                                    </div>
                                </div>
                                <button  class="btn btn-xs m-1 btn-rounded btn-info"><span
                                        class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
                                    </span>Thêm</button>
                                 <!-- <button type="button" class="btn btn-xs m-1 btn-rounded btn-warning"><span
                                        class="btn-icon-left text-info"><i class="fa-solid fa-pen"></i>
                                    </span>Sửa</button>
                                <button type="button" class="btn btn-xs m-1 btn-rounded btn-danger"><span
                                        class="btn-icon-left text-info"><i class="fa-solid fa-xmark"></i>
                                    </span>Xóa</button> -->
                                <!-- <button type="button" class="btn btn-xs m-1 btn-rounded btn-success"><span
                                        class="btn-icon-left text-info"><i class="fa-solid fa-rotate-left"></i>
                                    </span>Làm mới</button>  -->
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </main>
</body>

</html>