<!DOCTYPE html>
<html lang="en" th:replace="~{admin/fragments/layout :: fragments(~{::main})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>THỐN KÊ DOANH THU</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Layout</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="javascript:void(0)">product</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- --------------------------------------------------------- -->
            <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Sales Overview</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col_12">
                                    
                                    <select class="form-control m-3" id="mySelect" th:onchange="handleChange()">
                                        <option value="" disabled selected>Chọn Năm</option>
                                        <option th:each="item : ${year}" th:value="${item[0]}" th:text="${item[0]}" ></option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="card"> 
                                        <div class="card-header">
                                            <h4 class="card-title"> Thống Kê [[${nam}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="example" class="display" style="min-width: 845px">
                                                    <thead>
                                                        <tr>
                                                            <th>Tháng</th>
                                                            <th>Số lượng đơn hàng</th>
                                                            <th>Tổng doanh thu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="item : ${items}">
                                                            <td th:text="${item[2]}">Tiger Nixon</td>
                                                            <td th:text="${item[0]}">System Architect</td>
                                                            <td th:text="${item[1]}"></td>
                                                        </tr>                                                        
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Tháng</th>
                                                            <th>Số lượng đơn hàng</th>
                                                            <th>Tổng doanh thu</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            function handleChange() {
            var selectedValue = document.getElementById("mySelect").value;
            console.log("Selected value: " + selectedValue);
            
            window.location.href='/admin/statistics/'+selectedValue;
            
            
        }
        </script>
    </main>
</body>

</html>